@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* * {
  margin: 0;
  padding: 0;
  border: 0;
} */

body {
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0 auto;
  background: #2e2f34;
  font-family: "Oxygen", sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  background-image: url(https://blog.rocketseat.com.br/content/images/2019/03/Construc-a-o.png);

}
header {
  padding: 32px; /* Um tipo de espaçamento*/
  /* border-bottom: 2px solid #666; */
  background: rgba(0, 0, 0, 0);
}
header div {
  text-align: center;
}
.links {
  text-align: center; /*alinhamento de texto */
}
.links a {
  color: white;
  font-size: 38px;
  line-height: 18px; /* altura da linha*/
  margin: 8px;
  padding-bottom: 3px;
  text-decoration: none;
}

.links p {
  margin-top: 8px;
  font-style: italic;
}
.links a:hover {
  color: var(--primary-color);
  transition: 500ms; /* Muda a cor do texto quando passa o mouse por cima*/
}
/* CARD */

.card {
  background-color: rgba(0, 0, 0, 0.6);
  width: 520px;
  min-height: 400px;

  /* espaçamento ao centro */
  margin: 14px auto;

  /* grid dividido ao meio */
  display: grid;
  /* grid-template-columns: 1fr 1fr; */

  /* sombra */
  box-shadow: 5px 5px 6px -2px rgba(0, 0, 0, 0.8);

  /* animation */
  animation-name: up;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}

/* detalhes */

.details {
  padding: 32px;
}

/* linha cinza */
.details .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.details .item:last-child {
  border: none;
}
.details h3,
.details .item div:nth-child(1) {
  font-weight: 14px;
  line-height: 24px;
  color: white;
  letter-spacing: 0.7px;
  font-weight: normal;
  padding: 5px;
}

.details .item div:nth-child(2) {
  color: #555;
  font-weight: bold;
  font-size: 18px;
}

.details h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 22px;
}



.details .item span {
 
  color: white;
  margin-right: 4px;
  margin-top: 6px;
  display: inline-block;
  font-weight: bold;
  
  font-size: 16px;

}

/* FORM */

input {
  width: 100%;
  outline: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 12px;
  line-height: 1.8;
  border-radius: 5px;
  /* border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999; */

  
}

input[type="radio"] {
  width: initial;
  margin-right: 4px;
}

input[type="checkbox"] {
  width: initial;
  margin-right: 4px;
}

input::placeholder {
  font-size: 14px;
  font-weight: italic;
  padding-left: 10px;
}

button[type="reset"] {
  padding: 8px 32px;
  background-color: var(--primary-color);
  border-radius: 4px;
  margin-left: 200px;
  font-size: 16px;
}


#combobox-select{
  
  font-family: "Oxygen", sans-serif;
  margin-top: 8px; 
  color: #565656;
  width: 450px; /* Tamanho do select, maior que o tamanho da div "div-select" */
  height:40px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
  border:1px solid #ddd;
  
  border-radius: 5px;


}


textarea {
  
  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 70px;
  max-height: 200px;
  min-height: 70px;
  max-width: 355px;
  min-width: 355px;
  
  margin: 20px 0 0 20px;
  z-index: 1;
  background-color: white;
  border: #444;
  outline: none;
  box-shadow: 5px 5px #111;
  padding: 10px;
}

#botao {
  background-color: #208320;
  color: white;
  margin-top: 8px;
}

#botao:hover {
  cursor: pointer;
}